body {
  background: #0b0b0b;
  color: #eaeaea;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  border-bottom: 2px solid #00ff9c;
  padding: 12px 20px;
}

.logo {
  color: #00ff9c;
  font-weight: bold;
  font-size: 18px;
}

.nav-tabs .tab {
  background: transparent;
  border: 1px solid #333;
  color: #ccc;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}

.nav-tabs .tab.active {
  background: #00ff9c;
  color: #000;
}

.view {
  display: none;
  padding: 20px 0;
}
.view.active { display: block; }

input, select, button {
  background: #111;
  color: #fff;
  border: 1px solid #333;
  padding: 8px;
  margin: 6px 0;
  width: 100%;
}

button:hover {
  background: #00ff9c;
  color: #000;
  cursor: pointer;
}

.option {
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  margin: 6px 0;
}
.option.selected {
  background: #00ff9c;
  color: #000;
}

#authModal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}
.authBox {
  background: #111;
  border: 1px solid #00ff9c;
  padding: 20px;
  width: 260px;
  margin: 120px auto;
}

#examArea {
  display: none;
  background: #0f0f0f;
  padding: 20px;
  border: 1px solid #333;
}

#timer {
  color: #00ff9c;
  font-size: 18px;
}

.exam-nav button {
  width: auto;
  margin-right: 6px;
}

 
.bank-item {
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
}

.bank-item button {
  margin-left: 6px;
  padding: 3px 8px;
  font-size: 12px;
}

.bank-item button.edit {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bank-item button.delete {
  background: #DC3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
